{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/task.css' %}">
</head>
<body>
<!-- <div id="editPopup" class="popup-edit"> -->
  <div class="popup-editcontent">
    <a href="{%url 'addtodo'%}"><span class="close-btn">&times;</span></a>
    <h2>Edit Task</h2>
    <form method="post" action="{% url 'edittodo' pk=todo.pk %}" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="text" name="Task" placeholder="Enter the Task" value="{{todo.title}}" required>
      <input type="date" name="date"  id="dateField"  value="{{todo.deadline|date:'Y-m-d'}}" required>
        <button type="submit">Update</button>
    </form>
  </div>

  <script>
    const dateField = document.getElementById("dateField");
    const today = new Date().toISOString().split("T")[0]; 
    dateField.setAttribute("min", today);
</script>

<!-- </div> -->
</body>
</html>