{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task</title>
    <link rel="stylesheet" href="{% static 'css/task.css' %}">
</head>
<body>
  <!-- Popup Edit Box -->

  <div class="container">
        <div class="nav-bar">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="">
            <h2>TODO</h2>
        </div>
      <div class="items">
        <a href="{% url 'homepage' %}"><h3>Home</h3></a>
        <h3>About</h3>
        <h3>Features</h3>
        <h3>Task</h3>
      </div>
        <div class="right">
           <a href="{% url 'logout' %}"><button>LogOut</button></a>
           <!-- <button onclick="showPopup('signupPopup')">Sign Up</button> -->
      </div>
     </div>
      <div class="todo">
    <h1>My ToDo List</h1>
    <h5>Welcome To Todo</h5>
    </div>
    <section class="form-section">
      <div class="details_form">
    <form  method="post" action="{%url 'addtodo'%}" >
      {% csrf_token %}
        <input type="text" name="task" placeholder="Enter the Task" required>
        <input type="date" name="date"  id="dateField" required>
        <div class="button_section">
        <button type="submit" style="display: inline-block;">AddTodo</button>
        </div>
    </form>
    </div>
    </section>
    
    {% if request.user.is_authenticated %}
    <div class="todo-table">
      <table>
        <thead>
          <tr>
            <th>Sl No</th>
            <th>Date</th>
            <th>ToDo</th>
            <th>deadline</th>
            <th>Action</th>
          </tr>
          {% for i in content %}
          <tr class="todo-row"> 
            <td>{{forloop.counter}}</td>
            {% if i.complete %}
            <td style="text-decoration-line: line-through;">{{i.date}}</td>
            <td style="text-decoration-line: line-through;">{{i.title}}</td>
            <td style="text-decoration-line: line-through;">{{i.deadline}}</td>
            {% else %}
            <td>{{i.date}}</td>
            <td>{{i.title}}</td>
            <td>{{i.deadline}}</td>
            {% endif %}
            <td class="action">
              
              {% if i.complete %}
              <a href="{% url 'todoclose' pk=i.pk %}"><button class="delete"><ion-icon name="close-outline"></ion-icon></button></a>
              {% else %}
              <a href="{% url 'todocomplete' pk=i.pk %}"><button class="checkbox"><ion-icon name="checkmark-done-sharp"></ion-icon></button></a>
              {% endif %}

              <a href="{% url 'edittodo' pk=i.pk %}"><button class="edit"><ion-icon name="create"></ion-icon></button></a>
              <a href="{% url 'deletetodo' pk=i.pk %}"><button class="delete"><ion-icon name="trash-outline"></ion-icon></button></a>
            </td>
          </tr>
          {% endfor %}
        </thead>
      </table>
    </div>
    {% endif%}
  </div>
 <!-- <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> -->

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


<script>
    const dateField = document.getElementById("dateField");
    const today = new Date().toISOString().split("T")[0]; 
    dateField.setAttribute("min", today);
</script>


  <script src="{% static 'js/todo.js' %}"></script>
</body>
</html>